{% extends 'index.html' %}
{% block content %}

    <form name="form-add-secret" action="/add_secret" method="POST">
        <label for="username" lang="it">Utente</label>
        <label for="username" lang="en">User</label>
        <div class="justify-content-center row">
            <input type="text" name="username" class="form-control" autocomplete="off">
        </div>
        <label for="username" lang="it">Password Utente</label>
        <label for="username" lang="en">User's password</label>
        <div class="justify-content-center row">
            <input type="text" name="password" class="form-control" autocomplete="off">
        </div>
        <label for="username" lang="it">Chiave</label>
        <label for="username" lang="en">Key</label>
        <div class="justify-content-center row">
            <input type="text" name="key" class="form-control" autocomplete="off">
        </div>
        <label for="username" lang="it">Segreto</label>
        <label for="username" lang="en">Secret</label>
        <div class="justify-content-center row">
            <input type="text" name="secret" class="form-control" autocomplete="off">
        </div>
        <label for="username">Passphrase</label>
        <div class="justify-content-center row">
            <input type="text" name="passphrase" class="form-control" autocomplete="off">
        </div>
        <div class="form-button">
            <div class="justify-content-center row">
                <button type="submit" style="border: none; color:#43919B;"><i class="fas fa-plus-circle fa-2x"></i></button>
            </div>
        </div>
    </form>
    <div class="justify-content-center row">
        {% if type_response == 'SecretAdded': %}
        <div class="form-group">
            <div class="alert alert-success" role="alert" style="max-width: 280px; font-size: 0.80em; text-align: left;">
                <p lang="it">Chiave e password registrata</p>
                <p lang="en">Key and password saved</p>
            </div>
        </div>
        {% endif %}
        {% if type_response == 'WrongPassword': %}
        <div class="form-group">
            <div class="alert alert-danger" role="alert" style="max-width: 280px; font-size: 0.80em; text-align: left;">
                <p lang="it">Password username sbagliata</p>
                <p lang="en">Username password wrong</p>
            </div>
        </div>
        {% endif %}
        {% if type_response == 'UserNotExist': %}
        <div class="form-group">
            <div class="alert alert-danger" role="alert" style="max-width: 280px; font-size: 0.80em; text-align: left;">
                <p lang="it">Username inesistente</p>
                <p lang="en">Username not exist</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
