{% extends 'index.html' %}
{% block content %}

    <form name="form-register" action="/" method="POST">
        <label for="username">Utente</label>
        <div class="justify-content-center row">
            <input type="text" name="username" class="form-control" autocomplete="off">
        </div>
        <label for="username">Password</label>
        <div class="justify-content-center row">
            <input type="text" name="password" class="form-control" autocomplete="off">
        </div>
        <div class="form-button">
            <div class="justify-content-center row">
                <button type="submit" style="border: none; color:#43919B;"><i class="fas fa-plus-circle fa-2x"></i></button>
            </div>
        </div>
    </form>
    <div class="justify-content-center row">
        {% if type_response == 'UsernameNonUnivoco': %}
        <div class="form-group">
            <div class="alert alert-danger" role="alert" style="max-width: 280px; font-size: 0.80em; text-align: left;">
                <p lang="it">Username già utilizzato</p>
                <p lang="en">Username already used</p>
            </div>
        </div>
        {% endif %}
        {% if type_response == 'AccountRegistrato': %}
        <div class="form-group">
            <div class="alert alert-success" role="alert" style="max-width: 280px; font-size: 0.80em; text-align: left;">
                <p lang="it">Account registrato</p>
                <p lang="en">Account signed</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
