{% extends 'index.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <a class="nav-link" style="color:#43919B" href="../">
                <div><i class="fas fa-user"></i></div>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="it">Aggiungi utente</p>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="en">Add user</p>
            </a>
        </div>
        <div class="col-sm">
            <a class="nav-link" style="color:#43919B" href="../">
                <div><i class="fas fa-key"></i></div>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="it">Aggiungi password</p>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="en">Add password</p>
            </a>
        </div>
        <div class="col-sm">
            <a class="nav-link" style="color:#43919B" href="../">
                <div><i class="fas fa-bars"></i></div>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="it">Mostra chiavi</p>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="en">List keys</p>
            </a>
        </div>
        <div class="col-sm">
            <a class="nav-link" style="color:#43919B" href="../">
                <div><i class="fas fa-lock-open"></i></div>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="it">Mostra password</p>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="en">Get password</p>
            </a>
        </div>
    </div>
    <div class="form">
        <label for="username">Utente</label>
        <div class="justify-content-center row">
            <input type="email" name="username" class="form-control">
        </div>
        <label for="username">Password</label>
        <div class="justify-content-center row">
            <input type="email" name="username" class="form-control">
        </div>
        <div class="form-button">
            <div class="justify-content-center row">
                <button type="submit" style="border: none; color:#43919B;"><i class="fas fa-plus-circle fa-2x"></i></button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
