{% extends 'index.html' %}
{% block content %}

    <div class="row">
        <p style="font-size: 14px; text-align: left; margin: 2rem; margin-bottom: 0;" lang="it">
            Qui puoi salvare le password dei tuoi account e recuperarle ogni volta che desideri. <br><br>
            Segui i seguenti step:
            <ul style="font-size: 14px; text-align: left; color: #43919B;" lang="it">
                <li>Registra un utente</li>
                <li>Aggiungi una chiave e la sua relativa password. <br>
                    Per ogni chiave salvata sarà necessario definire una passphrase.
                </li>
                <li>Recupera la password associata alla tua chiave, inserendo la password del tuo account e la passphrase associata alla chiave</li>
            </ul>
        </p>
        <p style="font-size: 14px; text-align: left; margin: 2rem; margin-bottom: 0;" lang="en">
            Here you can save your account passwords and retrieve them whenever you wish. <br><br>
            Follow this steps:
            <ul style="font-size: 14px; text-align: left; color: #43919B;" lang="en">
                <li>Sign in an user</li>
                <li>Add a key and its password. <br>
                    For each key use a specific passphrase
                </li>
                <li>Retrieve the password associated with your key by entering your account password and the passphrase</li>
            </ul>
        </p>
    </div>
</div>

{% endblock content %}
