<!DOCTYPE html>
<html dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"> -->
  <title>Storing Key</title>

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="{{ url_for('static', path='fontawesome-free-5.15.4-web/js/all.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', path='styles/styles.css') }}" type="text/css">

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

</head>

<body>

  <div class="container">
    <div class="row">
        <div class="col-sm">
            <a class="nav-link" style="color:#43919B" href="../add_user">
                <div><i class="fas fa-user"></i></div>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="it">Aggiungi utente</p>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="en">Add user</p>
            </a>
        </div>
        <div class="col-sm">
            <a class="nav-link" style="color:#43919B" href="../add_secret">
                <div><i class="fas fa-key"></i></div>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="it">Aggiungi password</p>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="en">Add password</p>
            </a>
        </div>
        <div class="col-sm">
            <a class="nav-link" style="color:#43919B" href="../list_keys">
                <div><i class="fas fa-bars"></i></div>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="it">Mostra chiavi</p>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="en">List keys</p>
            </a>
        </div>
        <div class="col-sm">
            <a class="nav-link" style="color:#43919B" href="../show_key">
                <div><i class="fas fa-lock-open"></i></div>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="it">Mostra password</p>
                <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="en">Get password</p>
            </a>
        </div>
        <div class="col-sm">
          <a class="nav-link" style="color:#43919B" href="../delete_secret">
              <div><i class="fas fa-trash-alt"></i></div>
              <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="it">Cancella chiave</p>
              <p style="font-size: 14px; margin-bottom: 0; margin-top: 0;" lang="en">Delete key</p>
          </a>
      </div>
    </div>

  {% block content %} {% endblock content %}

  <div class="bottom-container">
    <div class="row">
      <div class="col-sm" style="text-align: left;">
        <a class="nav-link" style="color:white" href="../"><i class="fas fa-question"></i></a>
      </div>
      <div class="col-sm" style="text-align: right;">
        <button class="btn" id="switch-lang" lang="it" style="color: white;">English</button>
        <button class="btn" id="switch-lang-it" lang="en" style="color: white;">Italiano</button>
      </div>
    </div>
  </div>

</body>

<script>
    $('#switch-lang').click(function() {
      $('[lang="it"]').toggle();
      $('[lang="en"]').toggle();
    });

    $('#switch-lang-it').click(function() {
      $('[lang="it"]').toggle();
      $('[lang="en"]').toggle();
    });

    // manage language    
    $('[lang="en"]').hide();
</script>

</html>