{% extends 'index.html' %}
{% block content %}

    <form name="form-list-keys" action="/list_keys" method="POST">
        <label for="username">Utente</label>
        <div class="justify-content-center row">
            <input type="text" name="username" class="form-control" autocomplete="off">
        </div>
        <label for="username">Password</label>
        <div class="justify-content-center row">
            <input type="text" name="password" class="form-control" autocomplete="off">
        </div>
        <div class="form-button">
            <div class="justify-content-center row">
                <button type="submit" style="border: none; color:#43919B;">
                    <i class="fas fa-eye fa-2x"></i></button>
                </button>
            </div>
        </div>
    </form>
    <div class="justify-content-center row">
        {% if type_response == 'WrongPassword': %}
        <div class="form-group">
            <div class="alert alert-danger" role="alert" style="max-width: 280px; font-size: 0.80em; text-align: left;">
                <p lang="it">Password username sbagliata</p>
                <p lang="en">Username password wrong</p>
            </div>
        </div>
        {% endif %}
        {% if type_response == 'UserNotExist': %}
        <div class="form-group">
            <div class="alert alert-danger" role="alert" style="max-width: 280px; font-size: 0.80em; text-align: left;">
                <p lang="it">Username inesistente</p>
                <p lang="en">Username not exist</p>
            </div>
        </div>
        {% endif %}
        {% if type_response == 'AllSecrets': %}
        <div class="form-group">
            <div class="alert alert-primary" role="alert" style="max-width: auto; font-size: 0.80em; text-align: left;">
                <p style="color:#004085" lang="it">Chiavi salvate</p>
                <p style="color:#004085" lang="en">Stored keys</p>
                <ul>
                {% for key in keys: %}
                    <li>{{key}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% endblock content %}
